@page
@model Service.Pages.Cart.IndexModel

@{
    ViewData["Title"] = "Cart";
}

    <h1>Cart</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>@foreach (var item in Model.Cart)
{
    <table class="table table-bordered mb-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => item.Arrive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.StokPosition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Location)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StokPosition.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Code)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            @if (item.Rows.Count > 0)
            {
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Product)</th>
                    <th>@Html.DisplayNameFor(model => model.Row.Quantity)</th>
                </tr>
                @foreach (var riga in item.Rows)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => riga.Product.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => riga.Quantity)
                        </td>
                    </tr>

                }

            }
        </tbody>
    </table>
    }
